* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.apresentacao {
    margin: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao__container {
    width: 40%;
}

.titulo-conteudo {
    font-size: 36px;
}

.apresentacao-texto {
    font-size: 24px;
    padding: 2em 0;
}

.botao {
    background-color: #22D4FD;
    color: #F6F6F6;
    text-decoration: none;
    width: 30%;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    padding: 20px 35px;
    border-radius: 15px;
}